version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    versioning-strategy: increase
    labels:
      - "dependencies"
    reviewers:
      - "onlyutkarsh"
    commit-message:
      prefix: "chore"
      include: "scope"
